# Flask / App settings
FLASK_ENV=production
PORT=8080
SECRET_KEY=replace-me-with-a-secure-random-value
USE_SQLITE=False

# MySQL settings (for XAMPP or container)
DATABASE_USER=root
DATABASE_PASS=
DATABASE_NAME=vvs
DATABASE_HOST=db
DATABASE_PORT=3306
